<template>
  <div>
    <b-breadcrumb>
      <b-breadcrumb-item>YOU ARE HERE</b-breadcrumb-item>
      <b-breadcrumb-item active>Dashboard</b-breadcrumb-item>
    </b-breadcrumb>
    <h1 class="page-title">Dashboard</h1>
    <b-row>
      <b-col lg="3" sm="6" xs="12">
        <div class="pb-xlg h-100">
          <LineChart :chartData="lineChartData" :chartOptions="lineChartOptions" />
        </div>
      </b-col>
      <b-col lg="3" sm="6" xs="12">
        <div class="pb-xlg h-100">
          <LineChart :chartData="lineChartData" :chartOptions="lineChartOptions" />
        </div>
      </b-col>
      <b-col lg="3" sm="6" xs="12">
        <div class="pb-xlg h-100">
          <LineChart :chartData="lineChartData" :chartOptions="lineChartOptions" />
        </div>
      </b-col>
      <b-col lg="3" sm="6" xs="12">
        <div class="pb-xlg h-100">
          <LineChart :chartData="lineChartData" :chartOptions="lineChartOptions" />
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col xs="12">
        <LineChart :chartData="lineChartData" :chartOptions="lineChartOptions" />
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="4" sm="6" xs="12">
        <LineChart :chartData="lineChartData" :chartOptions="lineChartOptions" />
      </b-col>
      <b-col lg="4" sm="6" xs="12">
        <LineChart :chartData="lineChartData" :chartOptions="lineChartOptions" />
      </b-col>
      <b-col lg="4" sm="6" xs="12">
        <LineChart :chartData="lineChartData" :chartOptions="lineChartOptions" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import { defineAsyncComponent } from 'vue'

  const GlucoseLineChart = defineAsyncComponent(() => import('/@/components/GlucoseLineChart.vue'))

  const LineChart = defineAsyncComponent(() => import('/@/components/LineChart.vue'))
  const BarChart = defineAsyncComponent(() => import('/@/components/BarChart.vue'))
  import GlucoseService from '/@/services/glucose.ts'
  import 'chartjs-adapter-moment'

  export default {
    name: 'glucose-dashboard',
    data() {
      this.lineChartData = {
        labels: [],
        datasets: [],
      }
      this.barChartData = {
        labels: [],
        datasets: [],
      }
      this.lineChartOptions = {
        showLine: false,
        scales: {
          y: {
            min: 0,
            suggestedMax: 18,
          },
          x: {
            display: true,
            type: 'time',
            title: {
              display: true,
              text: 'Date',
            },
          },
        },
      }
      this.barChartOptions = {}
      return {
        lineChartData: this.lineChartData,
        barChartData: this.barChartData,
        lineChartOptions: this.lineChartOptions,
        barChartOptions: this.barChartOptions,
      }
    },
    async mounted() {
      this.fetchDataFromAPI()
    },
    methods: {
      fetchDataFromAPI() {
        fetch('http://localhost:5000/glucose', {
          method: 'GET',
        })
          .then((response) => response.json())
          .then((glucoseData) => {
            console.log('Getting Glucose Data')
            const formattedChartData = {
              datasets: [
                {
                  label: 'Glucose Level Tracker',
                  fill: false,
                  borderColor: '#f87979',
                  backgroundColor: '#f87979',
                  data: glucoseData.map((d) => ({ x: d[2], y: d[1] })),
                },
              ],
              labels: glucoseData.map((d) => d[2]),
            }
            this.lineChartData = formattedChartData
            this.barChartData = {
              labels: ['January', 'February', 'March'],
              datasets: [{ data: [40, 20, 12] }],
            }
          })
          .catch((e) => {
            console.log('*******Error**********')
            console.log(glucoseData)
          })
      },
    },
    components: {
      GlucoseLineChart,
      LineChart,
      BarChart,
    },
  }
</script>
